* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 40vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}

.input, .button {
    height: 20px;
}

.input {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    width: 20vw;
    height: 5vh;
    font-size: 25px;
}

.button {
    width: 25px;
    height: 25px;
}

.button:hover {
    cursor: pointer;
}

.info.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.info.loading:after {
    visibility: after;
    content: "Loading...";
    color: white;
    position: absolute;
}