body {
    background-color: antiquewhite;
}

.container {    /* container has only one child, so you can center the calculator */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: beige;
}

.calculator {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.calculator input {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    color: black;
}

.display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
}